Smart_H2O_SeeApp/WindowsFormsApplication1/Service References/ServiceData/SmartH2O_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="writeParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dados" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeParamsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="writeAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dados" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeAlarmsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHourlySummarizedInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHourlySummarizedInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHourlySummarizedInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailySummarizedInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailySummarizedInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDailySummarizedInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodSummarizedInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodSummarizedInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPeriodSummarizedInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyAlarmsInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDailyAlarmsInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDailyAlarmsInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parameter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAlarmsInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAlarmsInformationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>