XML_XSD/param-data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PARAM-DATA" type="ParamData"></xs:element>


    <xs:complexType name="ParamData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="PARAM" type="LoggedParams"></xs:element>
        </xs:sequence>
    </xs:complexType>
      
          <xs:complexType name="LoggedParams">
            <xs:sequence>
                <xs:element minOccurs="0" name="PH" type="SensorParams"></xs:element>
                <xs:element minOccurs="0" name="NH3" type="SensorParams"></xs:element>
                <xs:element minOccurs="0" name="CI2" type="SensorParams"></xs:element>
            </xs:sequence>
          </xs:complexType>
              
                <xs:complexType name="SensorParams">
                  <xs:sequence>
                    <xs:element name="SENSOR-ID" type="SensorID" />
                    <xs:element name="SENSOR-VALUE" type="SensorValue" />
                    <xs:element name="HOUR" type="LogHour" />
                    <xs:element name="DATE" type="LogDate" />
                  </xs:sequence>
                </xs:complexType>

                <xs:simpleType name="SensorID">
                  <xs:restriction base="xs:integer" />
                  </xs:simpleType>

<xs:simpleType name="SensorValue">
                  <xs:restriction base="xs:decimal" />
                  </xs:simpleType>

<xs:simpleType name="LogHour">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="LogDate">
    <xs:restriction base="xs:string" />
  </xs:simpleType>


              
    
</xs:schema>